<div fxLayout="column" fxFlex="100">
  <div fxFlexAlign="end">
    <button *ngIf="lockFields"
            mat-icon-button color="primary"
            aria-label="Unlock to edit"
            (click)="lockFields = false">
      <mat-icon>lock</mat-icon>
    </button>
    <button *ngIf="!lockFields"
            mat-icon-button color="primary"
            aria-label="Unlock to edit"
            (click)="lockFields = true">
      <mat-icon>lock_open</mat-icon>
    </button>
    <button [disabled]="lockFields"
            fxFlexAlign="end"
            mat-flat-button color="primary"
            aria-label="Unlock to edit"
            (click)="save()">
      save
    </button>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="50">
      Info
      <mat-form-field [appearance]="fieldAppearance">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" [disabled]="lockFields" [value]="employee.firstName">
      </mat-form-field>

      <mat-form-field [appearance]="fieldAppearance">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="First Name" [disabled]="lockFields" [value]="employee.lastName">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="50">
      Availability
      <app-availability-day *ngFor="let day of daysOfTheWeek" [day]="day" [(dateRange)]="defaultDateRange"></app-availability-day>
    </div>
  </div>
</div>
