<div class="day-of-week sticky" fxLayout="row" fxLayoutAlign="space-around center">
  <div>Sunday</div>
  <div>Monday</div>
  <div>Tuesday</div>
  <div>Wednesday</div>
  <div>Thursday</div>
  <div>Friday</div>
  <div>Saturday</div>
</div>

<div class="calendar-grid">
  <div class="calendar-day" *ngFor="let date of calendarDates">
    <app-calendar-grid-day [calendarDate]="date" [selectedTemplate]="defaultTemplate" [availableTemplates]="availableTemplates" [employees]="employees"></app-calendar-grid-day>
  </div>
</div>
