<div class="day-of-week">
  <div>Sunday</div>
  <div>Monday</div>
  <div>Tuesday</div>
  <div>Wednesday</div>
  <div>Thursday</div>
  <div>Friday</div>
  <div>Saturday</div>
</div>

<div class="calendar-grid">
    <div class="calendar-day"><app-calendar-shift-panel [shiftTemplates]="shifts"></app-calendar-shift-panel></div>
    <div class="calendar-day"><app-calendar-shift-panel [shiftTemplates]="shifts"></app-calendar-shift-panel></div>
    <div class="calendar-day"><app-calendar-shift-panel [shiftTemplates]="shifts"></app-calendar-shift-panel></div>
    <div class="calendar-day"><app-calendar-shift-panel [shiftTemplates]="shifts"></app-calendar-shift-panel></div>
    <div class="calendar-day"><app-calendar-shift-panel [shiftTemplates]="shifts"></app-calendar-shift-panel></div>
    <div class="calendar-day"><app-calendar-shift-panel [shiftTemplates]="shifts"></app-calendar-shift-panel></div>
    <div class="calendar-day"><app-calendar-shift-panel [shiftTemplates]="shifts"></app-calendar-shift-panel></div>
</div>
