<mat-accordion>
  <mat-expansion-panel *ngFor="let employee of employees | async">
    <mat-expansion-panel-header>
      <mat-icon mat-list-icon color="primary">account_circle</mat-icon>
      <div mat-line style="margin-left: 10px; margin-right: 10px">
        {{employee.lastName}}, {{employee.firstName}}
      </div>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <app-employee-info [employee]="employee" (employeeChange)="save(employee)" (employeeRemove)="remove(employee)" fxFlex="100"></app-employee-info>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
